html {
  background-image: url("../images/question_1_screen.jpg");
  background-repeat: no-repeat;
  width: 960px;
  height: 1280px; }

#content .answer1 {
  width: 559px;
  height: 59px;
  position: absolute;
  left: 175px;
  top: 610px;
  background-image: url(../images/question_1_btn1_off.png);
  position: absolute; }
#content .answer1:active {
  background-image: url(../images/question_1_btn1_on.png); }
#content .yourchoice {
  position: absolute;
  left: 200px;
  top: 600px; }
#content .answer2 {
  left: 175px;
  top: 705px;
  position: absolute;
  width: 526px;
  height: 61px;
  background-image: url(../images/question_1_btn2_off.png); }
#content .answer2:active {
  background-image: url(../images/question_1_btn2_on.png); }
#content .answer3 {
  left: 175px;
  top: 800px;
  position: absolute;
  width: 520px;
  height: 103px;
  background-image: url(../images/question_1_btn3_off.png); }
#content .answer3:active {
  background-image: url(../images/question_1_btn3_on.png);
  position: absolute; }
#content .correct_answer {
  background-image: url(../images/question_1_btn3_on.png);
  position: absolute;
  top: 600px;
  left: 221px;
  width: 520px;
  height: 103px; }
#content .low_blood_sugar_on {
  top: 620px;
  left: 220px; }
#content .correct {
  background-image: url(../images/question_1_btn1_on.png); }
#content .wrong {
  position: absolute;
  top: 770px;
  left: 110px; }
#content .try_again {
  position: absolute;
  top: 810px;
  left: 510px;
  width: 322px;
  height: 103px;
  background-image: url(../images/tryagain_off.png); }
#content .try_again:active {
  background-image: url(../images/tryagain_on.png); }
#content .yes_correct {
  background-image: url(../images/question_1_correct.png);
  width: 382px;
  height: 72px;
  position: absolute;
  top: 810px;
  left: 190px; }
#content .next {
  background-image: url(../images/next_off.png);
  position: absolute;
  width: 252px;
  height: 111px;
  top: 790px;
  left: 560px; }
#content .next:active {
  background-image: url(../images/next_on.png); }
