html {
    background-image: url('../images/question_1_screen.jpg');
    background-repeat: no-repeat;
    width: 960px;
    height: 1280px;
}

#content {
    .answer1 {
        width: 559px;
        height: 59px;
        position: absolute;
        left: 175px;
        top: 610px;
        background-image: url(../images/question_1_btn1_off.png);
        position: absolute;
    }

    
    .answer1:active {
        background-image: url(../images/question_1_btn1_on.png);
    }

    .yourchoice {
        position: absolute;
        left: 200px;
        top: 600px;
    }

    .answer2 {
        left: 175px;
        top: 705px;
        position: absolute;
        width: 526px;
        height: 61px;
        background-image: url(../images/question_1_btn2_off.png);
    }
    
    .answer2:active {
        background-image: url(../images/question_1_btn2_on.png);
    }

    .answer3 {
        left: 175px;
        top: 800px;
        position: absolute;
        width: 520px;
        height: 103px;
        background-image: url(../images/question_1_btn3_off.png);
    }

    .answer3:active {
        background-image: url(../images/question_1_btn3_on.png);
        position: absolute;
      
    }

    .correct_answer {
        background-image: url(../images/question_1_btn3_on.png);
        position: absolute;
        top: 600px;
        left: 221px;
        width: 520px;
        height: 103px;
    }

    .low_blood_sugar_on {
        top: 620px;
        left: 220px; 
    }
    
    .correct {
        background-image: url(../images/question_1_btn1_on.png);
    }
    .wrong {
        position: absolute;
        top: 770px;
        left: 110px;
    }

    .try_again {
        position: absolute;
        top: 810px;
        left: 510px;
        width: 322px;
        height: 103px;
        background-image: url(../images/tryagain_off.png);
    }

    .try_again:active {
        background-image: url(../images/tryagain_on.png);
    }

    .yes_correct {
        background-image: url(../images/question_1_correct.png);
        width: 382px;
        height: 72px;
        position: absolute;
        top: 810px;
        left: 190px;
    }

    .next {
        background-image: url(../images/next_off.png);
        position: absolute;
        width: 252px;
        height: 111px;
        top: 790px;
        left: 560px;
    }
    
    .next:active {
        background-image: url(../images/next_on.png);
    }
}