html {
  background-image: url("../images/question_3.jpg");
  background-repeat: no-repeat;
  width: 960px;
  height: 1280px; }

#content .yourchoice {
  position: absolute;
  left: 200px;
  top: 600px; }
#content .answer1 {
  left: 175px;
  top: 610px;
  width: 537px;
  height: 97px;
  position: absolute;
  background-image: url(../images/question_3_btn1_off.png); }
#content .answer1:active {
  background-image: url(../images/question_3_btn1_on.png); }
#content .answer2 {
  left: 175px;
  top: 725px;
  position: absolute;
  width: 516px;
  height: 113px;
  background-image: url(../images/question_3_btn2_off.png); }
#content .answer2:active {
  background-image: url(../images/question_3_btn2_on.png); }
#content .answer3 {
  left: 175px;
  top: 865px;
  position: absolute;
  width: 575px;
  height: 59px;
  background-image: url(../images/question_3_btn3_off.png); }
#content .answer3:active {
  background-image: url(../images/question_3_btn3_on.png); }
#content .correct_answer {
  background-image: url(../images/question_3_btn2_on.png);
  position: absolute;
  top: 620px;
  left: 225px;
  width: 516px;
  height: 113px; }
#content .yes_correct {
  background-image: url(../images/question_1_correct.png);
  width: 382px;
  height: 72px;
  position: absolute;
  top: 810px;
  left: 190px; }
#content .wrong {
  position: absolute;
  top: 770px;
  left: 110px; }
#content .try_again {
  position: absolute;
  top: 810px;
  left: 510px;
  width: 322px;
  height: 103px;
  background-image: url(../images/tryagain_off.png); }
#content .try_again:active {
  background-image: url(../images/tryagain_on.png); }
#content .next {
  background-image: url(../images/next_off.png);
  position: absolute;
  width: 252px;
  height: 111px;
  top: 790px;
  left: 560px; }
#content .next:active {
  background-image: url(../images/next_on.png); }
#content .incorrect_answer1 {
  background-image: url(../images/question_3_wrong1.png);
  width: 382px;
  height: 173px; }
#content .incorrect_answer3 {
  background-image: url(../images/question_3_wrong2.png);
  width: 382px;
  height: 173px; }
