html {
  background-image: url("../images/endscreen.jpg");
  background-repeat: no-repeat;
  width: 960px;
  height: 1280px; }

#content #finish {
  background-image: url(../images/finish_off.png);
  position: absolute;
  width: 252px;
  height: 100px;
  top: 820px;
  left: 340px; }
#content #finish:active {
  background-image: url(../images/finish_on.png); }
