html {
  background-image: url("../images/intro_background.jpg");
  background-repeat: no-repeat;
  width: 960px;
  height: 1280px; }

#content .start_btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 950px;
  left: 320px;
  display: block;
  background-image: url(../images/openingscreen_start_btn_transparent_off.png);
  width: 339px;
  height: 108px; }
#content .start_btn:active {
  background-image: url(../images/openingscreen_start_btn_transparent_on.png); }
#content .header_chip {
  position: absolute;
  left: 220px;
  top: 400px; }
