html {
  background-image: url("../images/readytostart_1_screen.jpg");
  background-repeat: no-repeat;
  width: 960px;
  height: 1280px; }

#content .bring_it_on {
  width: 457px;
  height: 63px;
  position: absolute;
  left: 175px;
  top: 550px;
  background-image: url(../images/readytostart_btn_1_off.png);
  position: absolute; }
#content .bring_it_on:active {
  background-image: url(../images/readytostart_1_btn_1_on.png); }
#content .go_back {
  width: 305px;
  height: 63px;
  position: absolute;
  left: 175px;
  top: 650px;
  background-image: url(../images/readytostart_1_btn_2_off.png);
  position: absolute; }
#content .go_back:active {
  background-image: url(../images/readytostart_1_btn_2_on.png); }
