doctype html
html
  head
    title Children With Diabetes
    link rel="stylesheet" type="text/css" href="css/2.css"
    script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"
    script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"
    script src="javascript/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"
    script src="javascript/all.js" type="text/javascript"
    script src="javascript/2.js" type="text/javascript"
    meta name="viewport" content="width=960,height=1280,maximum-scale=1.0" 
  
  body
    #content
      img class="yourchoice" src=""
      img class="wrong" src="images/question_2_wrong1.png"
      a class="try_again" href="2.html"
        
