doctype html
html
  head
    title Children With Diabetes
    link rel="stylesheet" type="text/css" href="css/index.css"
    script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"
    script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"
    script src="javascript/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"
    script src="javascript/index.js" type="text/javascript"  
    meta name="viewport" content="width=960,height=1280,maximum-scale=1.0" 

  body
    #content
      img src="images/mission_accomplished.png" class="header_chip"
      a class="start_btn" href="ready_to_start.html"
        