doctype html
html
  head
    title Children With Diabetes
    link rel="stylesheet" type="text/css" href="css/ready_to_start.css"
    script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"
    script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"
    script src="javascript/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"
    meta name="viewport" content="width=960,height=1280,maximum-scale=1.0" 

  body
    #content
      a class="bring_it_on" href="1.html"
      a class="go_back" href="index.html"
        